---
layout: default
---

<style>

.col {
    display:inline-block;
    vertical-align: top
  }

.post {
    width: 70%;
}

.sidebar {
    width: 20%;
    margin-left: 60px;
    margin-top: 30px;
}
.testimonial {
    margin: 12px 0px;
    border-bottom: 1px solid #CCC;
}
.testimonial img {
    float:left;
    width:75px;
    margin: 0 10px 0 0;
}
.testimonial-quote {
    font-size: 12px;
    margin-bottom: 15px;
    font-style: oblique;
    color: #999999;
}
.testimonial-name {
    color: #E45845;
    text-transform: uppercase;
    font-size: 12px;
}
.testimonial-title{
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
}

</style>

<div>

    <div class="post col ">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author.display_name }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
        </header>
        <div>
            <article class="post-content">
                {{ content }}
            </article>

            <div id="disqus_thread" ></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'getlittlebird'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>

    </div>

    <div class="col sidebar">
        <div id="get-started-cta-sidebar"> 
            <!--HubSpot Call-to-Action Code --> 
            <span class="hs-cta-wrapper" id="hs-cta-wrapper-3fd7cd31-5245-41ff-bba8-6f6493b064cd"> <span class="hs-cta-node hs-cta-3fd7cd31-5245-41ff-bba8-6f6493b064cd" id="hs-cta-3fd7cd31-5245-41ff-bba8-6f6493b064cd"> 
            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--> 
            <a href="http://cta-redirect.hubspot.com/cta/redirect/209207/3fd7cd31-5245-41ff-bba8-6f6493b064cd"><img class="hs-cta-img" id="hs-cta-img-3fd7cd31-5245-41ff-bba8-6f6493b064cd" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/209207/3fd7cd31-5245-41ff-bba8-6f6493b064cd.png" /></a> </span> 
            <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script> 
            <script type="text/javascript">
                hbspt.cta.load(209207, '3fd7cd31-5245-41ff-bba8-6f6493b064cd');
            </script> 
            </span> 
            <!-- end HubSpot Call-to-Action Code --> 
        </div>
        <div class="heading"><h5>People are talking...</h5></div>    
        <div class="testimonial">
            <img src="/wp-content/uploads/2013/08/tst_michaelbrito.png" alt="Michael Brito" />
            <div class="testimonial-quote">
                 "You (at Little Bird) don't need to worry about competitors, no one else has anything like this. This looks incredible."
            </div>
            <div class="testimonial-name">
                 Michael Brito
            </div>
            <div class="testimonial-title">
                 Global leader in Advocate Marketing
            </div>
        </div>
        <div class="testimonial">
            <img src="/wp-content/uploads/2014/07/tst_mattheinz.png" alt="Matt Heinz" />
            <div class="testimonial-quote">
                 "I had high expectations for Little Bird. Safe to say they have been exceeded."
            </div>
            <div class="testimonial-name">
                 Matt Heinz
            </div>
            <div class="testimonial-title">
                 President, Heinz Marketing
            </div>
        </div>
        <div class="testimonial">
            <img src="/wp-content/uploads/2014/07/tst_markcuban.png" alt="Mark Cuban" />
            <div class="testimonial-quote">
                 "This is a game changer for social media intelligence."
            </div>
            <div class="testimonial-name">
                 Mark Cuban
            </div>
            <div class="testimonial-title">
                 Dallas Mavericks Owner & Lead Investor
            </div>
        </div>
    </div>
</div>





